<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <!-- Remove hardcoded org.tasks permissions from dmfs library,
       they conflict with our ${applicationId}-based permissions in debug builds -->
  <uses-permission android:name="org.tasks.permission.READ_TASKS" tools:node="remove"/>
  <uses-permission android:name="org.tasks.permission.WRITE_TASKS" tools:node="remove"/>

  <application
      android:icon="@mipmap/ic_launcher_red"
      android:roundIcon="@mipmap/ic_launcher_red"
      android:networkSecurityConfig="@xml/network_security_config"
      tools:replace="android:icon,android:roundIcon"
      tools:ignore="GoogleAppIndexingWarning">

    <!-- Override launcher alias icon to red for debug builds -->
    <activity-alias
        android:icon="@mipmap/ic_launcher_red"
        android:roundIcon="@mipmap/ic_launcher_red"
        android:name="com.todoroo.astrid.activity.TaskListActivity"
        tools:replace="android:icon,android:roundIcon"/>

  </application>

</manifest>
